{% extends "mobile/base.html" %}
{% block content %}
    <table class="dairy-table table-hover table-info">
        <caption style="caption-side: top">
            Университеты
            <p style="margin-bottom: 0">Сортировка: {{ table_headers[header_id + 1] + ' ' + ('↑' if not sort_up else '↓')}}</p>
        </caption>
        <tbody style="font-size: .4em">
            <tr style="background-color: #86cfda">
                {% for header in table_headers %}
                    <td onclick="window.location.href= '/faculty_{{ id }}?sort_id={{ loop.index0 }}&sort_up={{ sort_up }}'" style="text-align: center">{{ header }}</td>
                {% endfor %}
            </tr>
            {% for id, title, city, points, budget_places_count, average_ege_points in universities_data %}
                <tr onclick="window.location.href='/university_{{ id }}'; return false">
                    <td style="text-align: center">{{ id }}</td>
                    <td style="text-align: left;padding-left: 10px">{{ title }}</td>
                    <td style="text-align: left; padding-left: 10px">{{ city }}</td>
                    <td style="text-align:center">{{ points if points else '?'}}</td>
                    <td style="text-align:center">{{ budget_places_count if budget_places_count else '?' }}</td>
                    <td style="text-align:center">{{ average_ege_points if average_ege_points else '?' }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}