<!doctype html>
<!--suppress ALL -->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="static/images/Wolf.png" type="image/png">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/css/header.css">
        <link rel="stylesheet" href="static/css/light-footer.css">
        <title>{{ title }}</title>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg">
                <div>
                    <a class="navbar-brand" href="https://area-146.tk" style="color: black">
                        <img id="logo-header" src="static/images/Wolf.png" alt="Logo">
                        &nbsp;AREA
                    </a>
                </div>

                <div class="collapse navbar-collapse justify-content-center">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="\index" class="nav-link">Университеты</a>
                        </li>
                        <li class="nav-item">
                            <a href="\university_1" class="nav-link">ИТМО</a>
                        </li>
                        <li class="nav-item">
                            <a href="\university_2" class="nav-link">МГТУ</a>
                        </li>
                        <li class="nav-item">
                            <a href="\university_7" class="nav-link">МГУ</a>
                        </li>
                        <li class="nav-item">
                            <a href="\university_3" class="nav-link">ПГНИУ</a>
                        </li>
                        <li class="nav-item">
                            <a href="\university_4" class="nav-link">НИУ ВШЭ</a>
                        </li>
                        <li class="nav-item">
                            <a href="\university_5" class="nav-link">СПбГУ</a>
                        </li>
                        <li class="nav-item">
                            <a href="\university_6" class="nav-link">СПбПУ</a>
                        </li>
                    </ul>
                </div>

                <hr class="header-hr">
            </nav>
        </header>

        <!-- Begin page content -->
        <main role="main" class="container">
            {% block content %}{% endblock %}
        </main>
        <footer class="copy-w3right footer mt-auto">
            <div class="container">
                <p class="bottom-w3lnav"><small>Design by <a href="https://vk.com/vasil1y">Nikulin Vasily</a></small></p>
                <p><small>© 2021 AREA. All Rights Reserved</small></p>
            </div>
        </footer>
    </body>
</html>
